@font-face{
  font-family: minecraft;
  src: url('fonts/minecraft.ttf') format('truetype')
}
@font-face{
  font-family: mine-titulo;
  src: url('fonts/mine-titulo.ttf') format('truetype')
}
body {
  background-color: #64442c;
  text-align: center;
}
.intro{
  font-family: mine-titulo;
  background-color: white;
  border: #6cc44c solid 8px;
  border-radius: 20px;
  margin: 15px 10% 10px 10%;
  padding: 5.5px 0 2px 0;
}
.intro-p{
  font-family: minecraft;
  font-size: 14px;
  color: white;
  background-color: #ac7c54;
  border: green solid 10px;
  padding: 4px 0 3px 0;
  margin: 0px 0 5px 0;
}
.info{
  font-family: minecraft;
  background-color: #bcbcbc;
  border: #424242 solid 8px;
  margin: 0px 0% 40px 0%;
  padding: 5px 0 5px 0;
}
.fotos-h{
  font-family: mine-titulo;
  background-color: white;
  border: #6cc44c solid 8px;
  border-radius: 20px;
  margin: 40px 25% 10px 25%;
  padding: 2px 0 0 0;
}
.data{
  font-family: minecraft;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: yellow;
  background-color: #ac7c54;
  border: green solid 6px;
  padding: 8px 0 3px 5px;
  margin: 0 20% 5px 0px;
}
.registros{
  font-family: mine-titulo;
  background-color: white;
  border: #6cc44c solid 8px;
  border-radius: 20px;
  margin: 0px 15% 10px 15%;
}
.registros-p{
  font-family: minecraft;
  font-size: 14px;
  text-align: left;
  color: white;
  background-color: #ac7c54;
  border: green solid 10px;
  padding: 7px 0 5px 5px;
  margin: 0px 0 5px 0;
}
img{
  width: 97%; height: 240px;
  border: #84d463 solid 6px;
  margin: 0 0 0 0;
}
.leg{
  font-family: minecraft;
  font-size: 15px;
  color: white;
  background-color: saddlebrown;
  border: #ac7c54 solid 3px;
  margin: 0 0 30px 0;
  padding: 6px 4px 5px 4px;
}